
.sidebar{
    display: block;
    padding: 20px;
  	margin:0px 200px 0px 0px;
  	border: 1px solid blue;
    background-color: #f5f5f5;
    width: 210px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    
}
.nav-sidebar-top{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}


.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


.centent{
	
	padding: 20px 20px 20px 20px;
	min-height: 500px;
	
}

.login-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.my-nav{
	margin-bottom:0px !important;
}

.login{
	margin-bottom: 0px !important;
	width: 500px;
	
}

.footer{
	
	border-top: 1px solid #e5e5e5;
	
}

.footer-menu{
	
	margin-top: 30px;
	
}

.footer-menu-right{
	
	
	
}

.footer-menu-right ul{
		
	list-style: none;
}

.footer-menu-right ul li:first-child{
		
	font-weight: bolder;
	padding: 10px 0;
}

.footer-record{
	
	border-top: 1px solid #e5e5e5;
	padding: 10px 0;
}
